.my-nav-item{
  .my-nav-link{
    text-shadow: none;
    cursor: pointer;
    color: #c9c9c9 !important;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    &:hover{
      opacity: 0.7;
      color: #e0e0e0;
    }
  }

}
@media screen and (max-width: 767px) {
  .my-nav-item{
    .my-nav-link{
      color: #6e6e6e !important;
      font-weight: 400;
    }
  }
}
