.project{
  // padding: 50px;
  background-color: #fff;
  position: relative;
  .project-container{
    padding-top: 4.5em;
    padding-bottom: 4em;
  }
  .img-container{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-image: url("../img/work-bg.jpg");
    background-position: 43% center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, .3), rgba(0, 0, 0, .5));
    }
  }
  .img-container-l{
    left: 0;
  }
  .project-list-l {
    // margin-top: 300px;
  }
  .project-list{
    list-style: none;
    padding-left: 0;
  }
  .project-header{
    padding-top: 0;
    padding-bottom: 100px;
    padding-left: 5px;
    text-align: left;
    color: #000;
    font-size: 32px;
    font-weight: 200;
  }
}

@media screen and (max-width: 992px) {
  .project{
    .project-container{
      padding-top: 6em;
      padding-bottom: 6em;
      .project-list{
        width: 70%;
        margin: auto;
      }
    }
  }
}
