.timeline-item {
  padding: 2.5em 0; }
  .timeline-item:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .timeline-item .direction-r {
    position: relative;
    width: 50%;
    float: right;
    left: 35px; }
    .timeline-item .direction-r .logo {
      left: -85px; }
    .timeline-item .direction-r .flag-wrapper, .timeline-item .direction-r .time-wrapper, .timeline-item .direction-r .desc {
      margin: 0.75em 0 0 0.75em; }
    .timeline-item .direction-r .work-header {
      margin-bottom: 30px;
      margin-left: 0;
      margin-top: 0;
      left: -15px; }
  .timeline-item .direction-l {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
    right: 35px; }
    .timeline-item .direction-l .flag-wrapper, .timeline-item .direction-l .time-wrapper, .timeline-item .direction-l .desc {
      margin: 0.75em 0.75em 0 0; }
    .timeline-item .direction-l .work-header {
      margin-bottom: 50px;
      margin-left: 0;
      margin-top: 0;
      right: -20px; }
  .timeline-item .flag-wrapper {
    position: relative;
    display: inline-block; }
    .timeline-item .flag-wrapper .flag-link {
      text-decoration: none;
      cursor: pointer;
      font-weight: 300; }
    .timeline-item .flag-wrapper .flag {
      position: relative;
      color: #000; }
      .timeline-item .flag-wrapper .flag .logo {
        position: absolute;
        top: 50%;
        right: -85px;
        display: block;
        z-index: 10; }
        .timeline-item .flag-wrapper .flag .logo .logo-img {
          border-radius: 50%;
          width: 70px;
          height: 70px;
          background: #fafafa; }
  .timeline-item .time, .timeline-item .desc {
    font-size: 18px;
    font-weight: 200;
    color: #4E4F52; }
  .timeline-item .work-header {
    font-size: 32px;
    font-weight: 200; }
  @media screen and (max-width: 768px) {
    .timeline-item {
      padding: 3em 0; }
      .timeline-item .direction-l,
      .timeline-item .direction-r {
        float: none;
        width: 100%;
        text-align: center;
        left: 0;
        right: 0; }
        .timeline-item .direction-l .flag-wrapper, .timeline-item .direction-l .time-wrapper, .timeline-item .direction-l .desc,
        .timeline-item .direction-r .flag-wrapper,
        .timeline-item .direction-r .time-wrapper,
        .timeline-item .direction-r .desc {
          margin: 0; }
      .timeline-item .flag-wrapper .flag {
        background: #fafafa;
        z-index: 15;
        padding-bottom: 5px; }
        .timeline-item .flag-wrapper .flag .logo {
          border-radius: 50%;
          position: absolute;
          top: -50px;
          left: 50%;
          display: block;
          width: 40px;
          height: 40px;
          margin-left: -20px;
          background: #fafafa;
          z-index: 10; }
      .timeline-item .time-wrapper {
        float: none;
        display: block;
        position: relative;
        z-index: 15;
        background: #fafafa; }
      .timeline-item .desc {
        position: relative;
        display: block;
        background: #fafafa;
        z-index: 15; } }
