.timeline-item {
  padding: 2.5em 0;
  &:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  // .direction-r {
  //   position: relative;
  //   width: 50%;
  //   float: right;
  //   left: 35px;
  //   .logo{
  //     left: -85px;
  //   }
  //   .flag-wrapper, .time-wrapper, .desc{
  //     margin: 0.75em 0 0 0.75em;
  //   }
  //   .work-header{
  //     margin-bottom: 30px;
  //     margin-left: 0;
  //     margin-top: 0;
  //     left: -15px;
  //   }
  // }
  .direction-l {
    position: relative;
    width: 50%;
    float: left;
    text-align: right;
    right: 35px;
    .flag-wrapper, .time-wrapper, .desc{
      margin: 0.75em 0.75em 0 0;
    }
    .work-header{
      margin-bottom: 50px;
      margin-left: 0;
      margin-top: 0;
      right: -20px;
    }
  }
  .flag-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
    .flag-link{
      text-decoration: none;
      cursor: pointer;
      font-weight: 300;
      width: 100%;
      display: block;
    }
    .flag {
      position: relative;
      color: #000;
      font-size: 20px;
      width: 100%;
      display: block;
      .logo{
        position: absolute;
        top: 50%;
        right: -85px;
        display: block;
        z-index: 10;
        .logo-img{
          border-radius: 50%;
          width: 70px;
          height: 70px;
          background: #fafafa;
        }
      }
    }
  }
  .time, .desc{
    font-size: 18px;
    font-weight: 200;
    color: #4E4F52;
  }
  .work-header{
    font-size: 32px;
    font-weight: 200;
  }
}

@media screen and (max-width: 768px){
  .timeline-item {
    padding: 3em 0;
    margin-top: 3em;
    margin-bottom: 3em;
    .direction-l,
    .direction-r {
      float: none;
      width: 100%;
      text-align: center;
      left: 0;
      right: 0;
      .flag-wrapper, .time-wrapper, .desc{
        margin: 0;
      }
    }
    .flag-wrapper{
      .flag {
        z-index: 15;
        padding-bottom: 5px;
        .logo{
          border-radius: 50%;
          position: absolute;
          top: -90px;
          left: 50%;
          display: block;
          width: 40px;
          height: 40px;
          margin-left: -35px;
          z-index: 10;
        }
      }
    }
    .time-wrapper{
      float: none;
      display: block;
      position: relative;
      z-index: 15;
    }
    .desc{
      position: relative;
      display: block;
      z-index: 15;
    }
  }
}
