.welcome {
  position: relative;
  display: block;
  height: 100vh;
  width: 100vw;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/welcome-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #000;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .welcome:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }
  .welcome .title {
    font-size: 45px;
    font-weight: 400; }
