$project-desc-color: #4E4F52;

.project-item{
  text-align: left;
  margin-bottom: 5vw;
  .project-img-container{
    background-color: #f2f2f2;
    height: 250px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 36px;
    text-align: center;
    vertical-align: middle;
  }
  .project-content-container{
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
  .project-title{
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    font-weight: 300;
    transition: color .3s ease;
    margin: 0;
  }
  a.project-title{
    cursor: pointer;
    &:hover{
      color: lighten(#000, 30%);
    }
  }

  .project-desc, .projectItem-list{
    color: $project-desc-color;
    line-height: 25px;
    font-size: 18px;
    font-weight: 200;
    a{
      text-decoration: none;
      color: inherit;
      transition: color .3s ease;
      &:hover{
        color: darken($project-desc-color, 30%);
      }
    }
  }
  .project-tag{
    font-size: 16px;
    color: #909398;
  }
  .project-desc, .project-tag{
    margin-top: 18px;
  }
}

@media screen and (max-width: 992px) {
  .project-item{
    .project-content-container{
      width: 100%;
    }
  }
}

@media screen and (max-width: 767px) {
  .project-item{
    margin-bottom: 3rem;
  }
}
