.project-item {
  text-align: left;
  margin-bottom: 12vw; }
  .project-item .project-img-container {
    background-color: #f2f2f2;
    height: 250px;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 36px;
    text-align: center;
    vertical-align: middle; }
  .project-item .project-content-container {
    display: block;
    width: 60%;
    margin: 0 auto;
    text-align: left; }
  .project-item .project-title {
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    color: #000;
    font-weight: 300; }
  .project-item .project-desc, .project-item .projectItem-list {
    color: #4E4F52;
    line-height: 25px;
    font-size: 18px;
    font-weight: 200; }
  .project-item .project-tag {
    font-size: 16px;
    color: #909398; }
  .project-item .project-desc, .project-item .project-tag {
    margin-top: 18px; }
