.about{
  background-color: #000;
  position: relative;
  z-index: 1;
  display: block;
  .container{
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .my-photo{
    display: block;
    height: auto;
    max-width: 60%;
    padding-top: 15%;
    margin: auto;
    margin-right: 20px;
  }
  .about-content{
    margin-right: 150px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    color: #fff;
    line-height: 1.85;
    .its-me{
      font-weight: 400;
    }
    p {
      margin: 20px 0 50px 0;
    }
  }
  .mobile{
    text-align: center;
    font-size: 2rem;
    display: none;
    .title{
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
  .img-container{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/myPhoto.jpg");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .about{
    z-index: 2;
    .my-photo{
      max-width: 50%;
      margin-right: auto;
      padding-top: 50px;
    }
    .about-content{
      width: 70%;
      margin: auto;
      margin-top: 70px;
    }
  }
}

@media screen and (max-width: 767px) {
  .about{
    .expand{
      display: block !important;
    }
    .shrink{
      display: none !important;
    }
    .changeBg{
      background: none;
    }
    .img-container{
      display: block;
    }
  }
}
