.about {
  background-color: #000;
  position: relative;
  z-index: 1;
  display: block; }
  .about .container {
    padding: 5rem 0 5rem 0; }
  .about .my-photo {
    display: block;
    height: auto;
    max-width: 60%;
    padding-top: 15%;
    margin: auto;
    margin-right: 20px; }
  .about .about-content {
    margin-right: 100px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    color: #fff;
    line-height: 1.85; }
    .about .about-content .its-me {
      font-weight: 400; }
    .about .about-content p {
      margin: 20px 0 50px 0; }
  .about .mobile {
    text-align: center;
    font-size: 2rem;
    display: none; }
    .about .mobile .title {
      text-decoration: none;
      color: #fff;
      cursor: pointer; }
  .about .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-image: url("../img/myPhoto.jpg");
    background-position: center 30%;
    background-repeat: no-repeat;
    background-size: cover;
    display: none; }

@media screen and (max-width: 992px) {
  .about {
    z-index: 2; }
    .about .my-photo {
      max-width: 50%;
      margin-right: auto;
      padding-top: 50px; }
    .about .about-content {
      width: 75%;
      margin: auto;
      margin-top: 70px; } }

@media screen and (max-width: 767px) {
  .about .expand {
    display: block !important; }
  .about .shrink {
    display: none !important; }
  .about .changeBg {
    background: none; }
  .about .img-container {
    display: block; } }
