.about {
  padding-bottom: 50px;
  background-color: #000; }
  .about .about-figure .my-photo {
    display: block;
    margin: auto;
    height: auto;
    max-width: 25%; }
  .about .about-content {
    padding-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #fff; }
    .about .about-content .its-me {
      font-weight: bold; }
