.about {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  position: relative;
  z-index: 1; }
  .about .my-photo {
    display: block;
    height: auto;
    max-width: 60%;
    padding-top: 30%;
    margin: auto;
    margin-right: 20px; }
  .about .about-content {
    margin-right: 150px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 200;
    text-align: left;
    color: #fff;
    line-height: 1.85; }
    .about .about-content .its-me {
      font-weight: 400; }
    .about .about-content p {
      margin: 20px 0 50px 0; }

@media screen and (max-width: 992px) {
  .about {
    padding-top: 100px;
    padding-bottom: 50px;
    z-index: 2; }
    .about .my-photo {
      max-width: 50%;
      margin-right: auto;
      padding-top: 50px; }
    .about .about-content {
      width: 75%;
      margin: auto;
      margin-top: 70px; } }
