.about{
  padding-bottom: 50px;
  background-color: #000;
  // position: relative;
  .about-figure{
    .my-photo{
      display: block;
      margin: auto;
      height: auto;
      max-width: 25%;
    }
  }
  .about-content{
    // position: relative;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #fff;
    .its-me{
      font-weight: bold;
    }
  }
}
