.work {
  background-color: #fff;
  position: relative; }
  .work .timeline {
    list-style: none;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0 4em 0;
    font-weight: 300;
    font-size: 20px; }
    .work .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 1px;
      height: 100%;
      z-index: 5;
      background: #e5e5e5; }
  .work .img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-image: url("../img/project-bg-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .work .img-container:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)); }
  .work .img-container-r {
    right: 0; }
  .work .img-container-l {
    left: 0; }

@media screen and (max-width: 768px) {
  .work .timeline {
    padding: 6em 0 3em 0;
    font-size: 16px; } }
