.work {
  background-color: #fff; }
  .work .timeline {
    list-style: none;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2em 0 4em 0;
    font-weight: 300;
    font-size: 20px; }
    .work .timeline:before {
      position: absolute;
      left: 50%;
      top: 0;
      content: ' ';
      display: block;
      width: 1px;
      height: 100%;
      z-index: 5;
      background: #e5e5e5; }
  @media screen and (max-width: 768px) {
    .work .timeline {
      width: 100%;
      padding: 5em 0 3em 0;
      font-size: 16px; } }
