.work{
  background-color: #fff;
  position: relative;
  .timeline{
    list-style: none;
    position: relative;
    width: 80%;
    margin: 0 auto;
    padding: 2em 0 4em 0;
    font-weight: 300;
    font-size: 20px;
    // &:before {
    //   position: absolute;
    //   left: 50%;
    //   top: 0;
    //   content: ' ';
    //   display: block;
    //   width: 1px;
    //   height: 100%;
    //   // margin-left: -2px;
    //   z-index: 5;
    //   background: rgb(229,229,229);
    // }
  }
  .img-container{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 50%;
    background-image: url("../img/project-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: radial-gradient(circle, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, .8));
    }
  }
  .img-container-r{
    right: 0;
  }
  .img-container-l{
    left: 0;
  }
  .mobile{
    display: none;
    text-align: center;
    font-size: 2rem;
    padding: 5rem 0 5rem 0;
    .title{
      text-decoration: none;
      color: #fff;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 992px) {
  .work{
    z-index: 2;
  }
}

@media screen and (max-width: 767px){
  .work{
    .timeline{
      // width: 80%;
      padding: 5rem 0 2rem 0;
      font-size: 16px;
    }
    .img-container{
      width: 100%;
    }
    .expand{
      display: block !important;
    }
    .shrink{
      display: none !important;
    }
    .changeBg{
      &:before{
        background: #fafafa;
      }
    }
  }
}
